<a href="https://colab.research.google.com/github/kunji1999/Data-Science/blob/main/exp4withbinning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

movies=pd.read_csv("IMDb movies.csv")
print(movies.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [3]:
#clean the dataset by dropping the values
clean_movies=movies.dropna(how='any')
movies=movies.dropna(how='any')
print(clean_movies)

      imdb_title_id  ... reviews_from_critics
506       tt0017136  ...                208.0
1048      tt0021749  ...                122.0
2454      tt0027977  ...                115.0
2795      tt0029453  ...                 55.0
2827      tt0029583  ...                173.0
...             ...  ...                  ...
15131     tt0067588  ...                 73.0
15242     tt0067866  ...                147.0
15271     tt0067927  ...                110.0
15302     tt0067992  ...                 89.0
15431     tt0068408  ...                 71.0

[116 rows x 22 columns]

In [4]:
#check the column names
print("column names:%s"%movies.columns.values)

column names:['imdb_title_id' 'title' 'original_title' 'year' 'date_published' 'genre'
 'duration' 'country' 'language' 'director' 'writer' 'production_company'
 'actors' 'description' 'avg_vote' 'votes' 'budget' 'usa_gross_income'
 'worlwide_gross_income' 'metascore' 'reviews_from_users'
 'reviews_from_critics']

In [5]:
#discriptive ststistics
print(movies.describe())

              year    duration  ...  reviews_from_users  reviews_from_critics
count   116.000000  116.000000  ...          116.000000            116.000000
mean   1961.086207  123.051724  ...          356.672414            114.577586
std      10.919125   35.649220  ...          335.055992             49.575967
min    1927.000000   74.000000  ...           29.000000             26.000000
25%    1954.750000   97.500000  ...          155.000000             80.000000
50%    1964.000000  114.500000  ...          291.500000            115.000000
75%    1969.000000  139.750000  ...          396.750000            138.500000
max    2001.000000  238.000000  ...         2163.000000            267.000000

[8 rows x 7 columns]

In [6]:
#check the null data
print("null values:\n")
print(movies.isna())

null values:

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
506            False  False  ...               False                 False
1048           False  False  ...               False                 False
2454           False  False  ...               False                 False
2795           False  False  ...               False                 False
2827           False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
15131          False  False  ...               False                 False
15242          False  False  ...               False                 False
15271          False  False  ...               False                 False
15302          False  False  ...               False                 False
15431          False  False  ...               False                 False

[116 rows x 22 columns]

In [7]:
print(movies.isna().sum())

imdb_title_id            0
title                    0
original_title           0
year                     0
date_published           0
genre                    0
duration                 0
country                  0
language                 0
director                 0
writer                   0
production_company       0
actors                   0
description              0
avg_vote                 0
votes                    0
budget                   0
usa_gross_income         0
worlwide_gross_income    0
metascore                0
reviews_from_users       0
reviews_from_critics     0
dtype: int64

In [8]:
print("\nnull values:%s\n" %movies.isnull().values.any())

null values:False

In [9]:
print("\ntotal null values %d\n" %movies.isna().sum().sum())

total null values 0

In [10]:
movies.duplicated()

506      False
1048     False
2454     False
2795     False
2827     False
         ...
15131    False
15242    False
15271    False
15302    False
15431    False
Length: 116, dtype: bool

In [12]:
#Binning by distance
min_value = movies['duration'].min()
max_value = movies['duration'].max()
print(min_value)
print(max_value)

74
238

In [13]:
import numpy as np
bins = np.linspace(min_value,max_value,4)
bins

array([ 74.        , 128.66666667, 183.33333333, 238.        ])