<a href="https://colab.research.google.com/github/kunji1999/Data-Science/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

a)Data types

In [1]:
a=1
print("data type of a")
print(type(a))
b='meenu'
print("data type of b")
print(type(b))
c=[1,2]
print("data type of c")
print(type(c))
d={1:'kunji',2:'mac'}
print("data type of d")
print(type(d))
e=True
print("data type of e")
print(type(e))
f=53.7
print("data type of f")
print(type(f))
g={"Kunji","Macku"}
print(type(g))
print("data type of g")
h=(1,2)
print("data type of h")
print(type(h))
i=bytes()
print("data type of i")
print(type(i))
j=bytearray()
print("data type of j")
print(type(j))
k=range(4)
print("data type of k")
print(type(k))

data type of a
<class 'int'>
data type of b
<class 'str'>
data type of c
<class 'list'>
data type of d
<class 'dict'>
data type of e
<class 'bool'>
data type of f
<class 'float'>
<class 'set'>
data type of g
data type of h
<class 'tuple'>
data type of i
<class 'bytes'>
data type of j
<class 'bytearray'>
data type of k
<class 'range'>

b) list

In [ ]:
my_list=['meenu','anu','kunji','ammu']
print(my_list[0])
print(my_list[2])
print(my_list[3])
print(my_list[0:2])
print(my_list[ : ])
print(my_list[-2])

meenu
kunji
ammu
['meenu', 'anu']
['meenu', 'anu', 'kunji', 'ammu']
kunji

c) Dictionary

In [ ]:
d={1:'meenu',2:'kunji',3:'sree'}
print(d)
print('1st name is '+d[1])
print('4th name is '+d[2])
print(d.keys())
print(d.values())

{1: 'meenu', 2: 'kunji', 3: 'sree'}
1st name is meenu
4th name is kunji
dict_keys([1, 2, 3])
dict_values(['meenu', 'kunji', 'sree'])

d) function

In [ ]:
def add(a,b):
  return a+b
res=add(2,3)
print("sum ", res)

sum  5

e) function with return statement

In [ ]:
def recfact(n):
  if n==1:
    return n
  else:
    return n*recfact(n-1)
num=7
if num<0:
  print("Factorial not possible...!")
elif num==0:
  print("Factorial of 0 is 1.")
else:
  print("Factorial of ",num," is ",recfact(num))

Factorial of  7  is  5040