<a href="https://colab.research.google.com/github/kunji1999/Data-Science/blob/main/Experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

movies=pd.read_csv("IMDb movies.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
print(movies.head(3))

                                                                                                                                                                    ylan's previous movie  ... 10.0.1
tt0234262 Mon curé chez les Thaïlandaises Mon curé chez les Thaïlandaises 1983 1983-07-13 Comedy             95  France         French        Robert Thomas  Robert Thomas, Robert Thomas  ...    NaN
tt0234263 Scuola di nudisti               Mon curé chez les nudistes      1982 1982-07-28 Comedy             83  France         French        Robert Thomas                 Robert Thomas  ...    NaN
tt0234288 Musíme si pomáhat               Musíme si pomáhat               2000 2000-03-16 Comedy, Drama, War 120 Czech Republic German, Czech Jan Hrebejk    Jan Hrebejk, Petr Jarchovský  ...   49.0

[3 rows x 12 columns]

In [40]:
print(movies.describe())

                7.4          4773         75.0          10.0        10.0.1
count  48369.000000  4.836900e+04  9467.000000  42730.000000  41418.000000
mean       5.726254  1.075149e+04    54.781874     52.587573     33.776353
std        1.311793  5.463927e+04    17.185281    208.816778     71.936873
min        1.000000  9.900000e+01     1.000000      1.000000      1.000000
25%        5.000000  2.110000e+02    43.000000      3.000000      3.000000
50%        5.900000  5.070000e+02    56.000000      8.000000      9.000000
75%        6.700000  1.869000e+03    68.000000     25.000000     26.000000
max        9.900000  2.241615e+06   100.000000  10472.000000    999.000000

In [41]:
print("column name: %s" %movies.columns.values)

column name: ["ylan's previous movie" ' Kasaba. It is about the movie director'
 ' Muzaffer' ' going back to ..."' '7.4' '4773' 'Unnamed: 6' 'Unnamed: 7'
 'Unnamed: 8' '75.0' '10.0' '10.0.1']

In [42]:
print(movies.dtypes)
print(movies.shape)

ylan's previous movie                       object
 Kasaba. It is about the movie director     object
 Muzaffer                                   object
 going back to ..."                         object
7.4                                        float64
4773                                         int64
Unnamed: 6                                  object
Unnamed: 7                                  object
Unnamed: 8                                  object
75.0                                       float64
10.0                                       float64
10.0.1                                     float64
dtype: object
(48369, 12)

In [43]:
print("null value:\n")
print(movies.isna()) #same as movies.isnull().sum()
print(movies.isna().sum())
print("null values %s" %movies.isnull().values.any())
print("null values %s"%movies.isna().sum().sum())
print(movies.describe())

null value:

                                                                                                                                                                                ylan's previous movie  ...  10.0.1
tt0234262 Mon curé chez les Thaïlandaises Mon curé chez les Thaïlandaises 1983 1983-07-13 Comedy             95  France          French        Robert Thomas                                    False  ...    True
tt0234263 Scuola di nudisti               Mon curé chez les nudistes      1982 1982-07-28 Comedy             83  France          French        Robert Thomas                                    False  ...    True
tt0234288 Musíme si pomáhat               Musíme si pomáhat               2000 2000-03-16 Comedy, Drama, War 120 Czech Republic  German, Czech Jan Hrebejk                                      False  ...   False
tt0234304 Nabbie no koi                   Nabbie no koi                   1999 1999-12-04 Drama              92  Japan           Japanese      Yuji Nakae                                       False  ...   False
tt0234324 Necrophobia                     Necrophobia                     1995 1995       Horror             60  Netherlands     Dutch         Frank van Geloven, Edwin Visser                  False  ...   False
...                                                                                                                                                                                               ...  ...     ...
tt9908390 Le lion                         Le lion                         2020 2020-01-29 Comedy             95  France, Belgium French        Ludovic Colbeau-Justin                           False  ...   False
tt9911196 De Beentjes van Sint-Hildegard  De Beentjes van Sint-Hildegard  2020 2020-02-13 Comedy, Drama      103 Netherlands     German, Dutch Johan Nijenhuis                                  False  ...   False
tt9911774 Padmavyuhathile Abhimanyu       Padmavyuhathile Abhimanyu       2019 2019-03-08 Drama              130 India           Malayalam     Vineesh Aaradya                                  False  ...    True
tt9914286 Sokagin Çocuklari               Sokagin Çocuklari               2019 2019-03-15 Drama, Family      98  Turkey          Turkish       Ahmet Faik Akinci                                False  ...    True
tt9914942 La vida sense la Sara Amat      La vida sense la Sara Amat      2019 2020-02-05 Drama              74  Spain           Catalan       Laura Jou                                        False  ...   False

[48369 rows x 12 columns]
ylan's previous movie                       1277
 Kasaba. It is about the movie director     3159
 Muzaffer                                     61
 going back to ..."                         1457
7.4                                            0
4773                                           0
Unnamed: 6                                 32657
Unnamed: 7                                 39652
Unnamed: 8                                 23624
75.0                                       38902
10.0                                        5639
10.0.1                                      6951
dtype: int64
null values True
null values 153379
                7.4          4773         75.0          10.0        10.0.1
count  48369.000000  4.836900e+04  9467.000000  42730.000000  41418.000000
mean       5.726254  1.075149e+04    54.781874     52.587573     33.776353
std        1.311793  5.463927e+04    17.185281    208.816778     71.936873
min        1.000000  9.900000e+01     1.000000      1.000000      1.000000
25%        5.000000  2.110000e+02    43.000000      3.000000      3.000000
50%        5.900000  5.070000e+02    56.000000      8.000000      9.000000
75%        6.700000  1.869000e+03    68.000000     25.000000     26.000000
max        9.900000  2.241615e+06   100.000000  10472.000000    999.000000

In [45]:
#clean the dataset by droping the na values
clean_movies=movies.dropna(how='any')
movies=movies.dropna(how='any')

In [46]:
print(clean_movies.shape)

(4384, 12)

In [48]:
#use fillna attribute of pandas
#for filling up missing values in all columns
movies.fillna(value=0,inplace=True)

In [ ]:
#for some specific columns we can just choose select those columns
movies[['gross', 'budget']]=movies[['gross', 'budget']].fillna(value=0)