<a href="https://colab.research.google.com/github/kunji1999/Data-Science/blob/main/Experiment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from scipy import  stats

In [ ]:
df=pd.read_csv("IMDbmovies.csv")
print(df)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                ylan's previous movie  ... 10.0.1
tt0234262 Mon curé chez les Thaïlandaises Mon curé chez les Thaïlandaises 1983 1983-07-13 Comedy             95  France          French        Robert Thomas                             Robert Thomas, Robert Thomas  ...    NaN
tt0234263 Scuola di nudisti               Mon curé chez les nudistes      1982 1982-07-28 Comedy             83  France          French        Robert Thomas                                            Robert Thomas  ...    NaN
tt0234288 Musíme si pomáhat               Musíme si pomáhat               2000 2000-03-16 Comedy, Drama, War 120 Czech Republic  German, Czech Jan Hrebejk                               Jan Hrebejk, Petr Jarchovský  ...   49.0
tt0234304 Nabbie no koi                   Nabbie no koi                   1999 1999-12-04 Drama              92  Japan           Japanese      Yuji Nakae                                                  Yuji Nakae  ...    2.0
tt0234324 Necrophobia                     Necrophobia                     1995 1995       Horror             60  Netherlands     Dutch         Frank van Geloven, Edwin Visser        Frank van Geloven, Edwin Visser  ...    4.0
...                                                                                                                                                                                                               ...  ...    ...
tt9908390 Le lion                         Le lion                         2020 2020-01-29 Comedy             95  France, Belgium French        Ludovic Colbeau-Justin           Alexandre Coquelle, Matthieu Le Naour  ...    4.0
tt9911196 De Beentjes van Sint-Hildegard  De Beentjes van Sint-Hildegard  2020 2020-02-13 Comedy, Drama      103 Netherlands     German, Dutch Johan Nijenhuis                           Radek Bajgar, Herman Finkers  ...    4.0
tt9911774 Padmavyuhathile Abhimanyu       Padmavyuhathile Abhimanyu       2019 2019-03-08 Drama              130 India           Malayalam     Vineesh Aaradya                       Vineesh Aaradya, Vineesh Aaradya  ...    NaN
tt9914286 Sokagin Çocuklari               Sokagin Çocuklari               2019 2019-03-15 Drama, Family      98  Turkey          Turkish       Ahmet Faik Akinci                       Ahmet Faik Akinci, Kasim Uçkan  ...    NaN
tt9914942 La vida sense la Sara Amat      La vida sense la Sara Amat      2019 2020-02-05 Drama              74  Spain           Catalan       Laura Jou                                         Coral Cruz, Pep Puig  ...    2.0

[48369 rows x 12 columns]

In [ ]:
print(df.head(4))

                                                                                                                                                                    ylan's previous movie  ... 10.0.1
tt0234262 Mon curé chez les Thaïlandaises Mon curé chez les Thaïlandaises 1983 1983-07-13 Comedy             95  France         French        Robert Thomas  Robert Thomas, Robert Thomas  ...    NaN
tt0234263 Scuola di nudisti               Mon curé chez les nudistes      1982 1982-07-28 Comedy             83  France         French        Robert Thomas                 Robert Thomas  ...    NaN
tt0234288 Musíme si pomáhat               Musíme si pomáhat               2000 2000-03-16 Comedy, Drama, War 120 Czech Republic German, Czech Jan Hrebejk    Jan Hrebejk, Petr Jarchovský  ...   49.0
tt0234304 Nabbie no koi                   Nabbie no koi                   1999 1999-12-04 Drama              92  Japan          Japanese      Yuji Nakae                       Yuji Nakae  ...    2.0

[4 rows x 12 columns]

In [ ]:
print(df.describe)

<bound method NDFrame.describe of                                                                                                                                                                                                 ylan's previous movie  ... 10.0.1
tt0234262 Mon curé chez les Thaïlandaises Mon curé chez les Thaïlandaises 1983 1983-07-13 Comedy             95  France          French        Robert Thomas                             Robert Thomas, Robert Thomas  ...    NaN
tt0234263 Scuola di nudisti               Mon curé chez les nudistes      1982 1982-07-28 Comedy             83  France          French        Robert Thomas                                            Robert Thomas  ...    NaN
tt0234288 Musíme si pomáhat               Musíme si pomáhat               2000 2000-03-16 Comedy, Drama, War 120 Czech Republic  German, Czech Jan Hrebejk                               Jan Hrebejk, Petr Jarchovský  ...   49.0
tt0234304 Nabbie no koi                   Nabbie no koi                   1999 1999-12-04 Drama              92  Japan           Japanese      Yuji Nakae                                                  Yuji Nakae  ...    2.0
tt0234324 Necrophobia                     Necrophobia                     1995 1995       Horror             60  Netherlands     Dutch         Frank van Geloven, Edwin Visser        Frank van Geloven, Edwin Visser  ...    4.0
...                                                                                                                                                                                                               ...  ...    ...
tt9908390 Le lion                         Le lion                         2020 2020-01-29 Comedy             95  France, Belgium French        Ludovic Colbeau-Justin           Alexandre Coquelle, Matthieu Le Naour  ...    4.0
tt9911196 De Beentjes van Sint-Hildegard  De Beentjes van Sint-Hildegard  2020 2020-02-13 Comedy, Drama      103 Netherlands     German, Dutch Johan Nijenhuis                           Radek Bajgar, Herman Finkers  ...    4.0
tt9911774 Padmavyuhathile Abhimanyu       Padmavyuhathile Abhimanyu       2019 2019-03-08 Drama              130 India           Malayalam     Vineesh Aaradya                       Vineesh Aaradya, Vineesh Aaradya  ...    NaN
tt9914286 Sokagin Çocuklari               Sokagin Çocuklari               2019 2019-03-15 Drama, Family      98  Turkey          Turkish       Ahmet Faik Akinci                       Ahmet Faik Akinci, Kasim Uçkan  ...    NaN
tt9914942 La vida sense la Sara Amat      La vida sense la Sara Amat      2019 2020-02-05 Drama              74  Spain           Catalan       Laura Jou                                         Coral Cruz, Pep Puig  ...    2.0

[48369 rows x 12 columns]>

In [ ]:
print("column names=",df.columns.values)

column names= ["ylan's previous movie" ' Kasaba. It is about the movie director'
 ' Muzaffer' ' going back to ..."' '7.4' '4773' 'Unnamed: 6' 'Unnamed: 7'
 'Unnamed: 8' '75.0' '10.0' '10.0.1']

In [ ]:
#
df = pd.read_csv('IMDbmovies.csv')
print(df.to_string())

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)